<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>CREAT NEW BOOK </title>
</head>
<body>
<div align="center">
    <h1>CREAT NEW BOOK</h1>
    <br />
    <form action="#" th:action="@{/saveBook.do}" th:object="${book}"
          method="post">

        <table border="0" cellpadding="10px">
            <tr >
                <td colspan="2" style="color: #ef0000; font-size: 20px" th:text="${massage}">  </td>
            </tr>
            <tr >
                <td style="font-size: 20px" >NAME :</td>
                <td><input style="font-size: 20px" type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td style="font-size: 20px ">AUTHOR :</td>
                <td ><input style="font-size: 20px" type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td style="font-size: 20px" >PRICE:</td>
                <td><input style="font-size: 20px" type="text" th:field="*{price}" /></td>
            </tr>
            <tr >
                <td colspan="2" align="center" height="50px" ><button style="font-size: 20px" type="submit">Save</button>
                &nbsp;  <input style="font-size: 20px" type="button" value="BACK" onclick="location.href='/viewListBooks'">  </td>

            </tr>
        </table>
    </form>
</div>
</body>
</html>