<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View BOOK</title>
</head>
<body>
<div align="center">
    <h1> VIEW INFO BOOK</h1>
    </br>
    <form action="#" th:action="@{/edit}" th:object="${book}" method="post">
        <table class="books" border="0" cellpadding="0" cellspacing="0" align="center"
               style=" table-layout: fixed">
            <tr>
                <td colspan="2" style="color: #ef0000; font-size: 20px" th:text="${massage}"></td>
            </tr>
            <tr>
                <td style="font-size: 20px;height: 60px;width: 150px;">ID :</td>
                <td><input style="font-size: 20px;height: 30px;" type="text" readonly th:field="*{id}"/></td>
            </tr>
            <tr>
                <td style="font-size: 20px;height: 60px;width: 100px;">NAME :</td>
                <td><input style="font-size: 20px;height: 30px;" type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td style="font-size: 20px;height: 60px;width: 100px;">AUTHOR :</td>
                <td><input style="font-size: 20px;height: 30px;" type="text" th:field="*{author}"/></td>
            </tr>
            <tr>
                <td style="font-size: 20px;height: 60px;width: 100px;">PRICE:</td>
                <td><input style="font-size: 20px;height: 30px;" type="text" th:field="*{price}"/></td>
            </tr>
            <tr>
                <td></td>
                <td align="center" height="50px">
                    <button style="font-size: 17px" type="submit">Save</button>
                    <input style="font-size: 17px" type="button" value="DELETE"
                           th:onclick="|window.location.href ='@{/delete(id=${book.getId()})}'|">
                    <input style="font-size: 17px" type="button" value="BACK" onclick="location.href='/viewListBooks'"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>